.container-home{
    display: flex;
    position: relative;

    width: 100%;
    justify-content: center;
}

/* Zona Papi */
@keyframes entradaDante {
    0% {
        transform: translateX(-100%); /* Empieza fuera de la pantalla a la izquierda */
        opacity: 0;                   /* Invisible */
    }
    100% {
        transform: translateX(0);    /* Llega a su posición original */
        opacity: 1;                   /* Totalmente visible */
    }
}

.sparda{
    width: auto;
    height: 90vh;
    animation: entradaDante 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}


.sparda img{
    width: 100%;
    height: 100%;
    max-width: 600px;
}
/* Estilo base para ambas imágenes */
.img-personaje {
    transition: all 0.5s ease; /* Transición suave para el brillo */
    cursor: pointer;
    max-width: 300px; /* Ajusta según tu diseño */
}

/* cambio de modo */

/* (Dante activo) */
.img-dante {
    filter: brightness(1) drop-shadow(0 0 10px rgba(255, 0, 0, 0.5));
    opacity: 1;
}

.img-vergil {
    filter: brightness(0.3);
    opacity: 0.6;
}

/* (Vergil activo) */
body.mode-vergil .img-vergil {
    filter: brightness(1) drop-shadow(0 0 15px rgba(0, 162, 255, 0.8));
    opacity: 1;
}

body.mode-vergil .img-dante {
    filter: brightness(0.3);
    opacity: 0.6;
}

/* Pa que brillen mis niños cuando toca */
body.mode-vergil .img-dante:hover {
    filter: brightness(1); 
    opacity: 1;
}

body:not(.mode-vergil) .img-vergil:hover {
    filter: brightness(1);
    opacity: 1;
}

.img-personaje.locked {
    filter: brightness(0.05) grayscale(1); /* Casi negro y sin color */
    cursor: not-allowed;
    opacity: 0.5;
}

/* Opcional: que al pasar el ratón por el bloqueado no brille nada */
.img-personaje.locked:hover {
    filter: brightness(0.05) grayscale(1);
    transform: none;
}
/* Zona Botones */
@keyframes entradaMenu {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.menu-botones-home{
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;

    gap: 5px;
    width: 35%;
    animation: entradaMenu 0.5s ease-out 0.5s backwards;
}

.btns-menu{
    border: var(--border-thin);
    border-radius: 5px;
    background-color: var(--bg-dark-semitransparent);

    color: var(--text-dark);

    width: 90%;
    height: 55px;
    cursor: pointer;

    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.6rem;

    -webkit-text-stroke: 0.8px black;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);

    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btns-menu:hover {
  filter: brightness(1.2);
  color: var(--text-main);
}


h1 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    color: var(--text-main);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 50px;
    text-shadow: var(--border-thick-red);
    display: inline-block;
    width: 100%;
}

.menu-botones-home hr{
    width: 100%;
    border-color: var(--border-active);

    margin: 20px;
}