body{
  background: radial-gradient(circle, rgb(100, 0, 0) 10%, black 90%) !important;
  background-color: black;
  margin: 0;
  overflow: hidden;
}

@keyframes pulsoRojo {
    0%, 100% { filter: saturate(1) contrast(1); }
    10%, 20% { filter: saturate(1.5) contrast(1.2); }
}

.container-hone-login {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
  overflow: hidden;
}


.dmc-back {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    width: 100% ;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.7;
    pointer-events: none;

    -webkit-mask-image: radial-gradient(circle, black 40%, transparent 90%);
    mask-image: radial-gradient(circle, black 40%, transparent 90%);

    animation: latidoRojo 4s ease-in-out infinite !important;
}

@keyframes latidoRojo {
0% {
        filter: brightness(0.8) saturate(1);
        transform: translate(-50%, -50%) scale(1);
    }
    20% {
        filter: brightness(1.2) saturate(1.8);
        transform: translate(-50%, -50%) scale(1.04);
    }
    30% {
        filter: brightness(0.8) saturate(1.2);
        transform: translate(-50%, -50%) scale(1.01);
    }
    45% {
        filter: brightness(1.1) saturate(1.5);
        transform: translate(-50%, -50%) scale(1.03);
    }
    60% {
        filter: brightness(0.8) saturate(1);
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        filter: brightness(0.8) saturate(1);
        transform: translate(-50%, -50%) scale(1);
    }
}

#titulo {
  margin-top: 5vh;
  z-index: 10;
}

#titulo img {
  max-width: 500px; 
  height: auto;
}


/* Zona Botones */

.menu-botones {
  margin-bottom: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.535) 20%,
    rgba(0, 0, 0, 0.683) 40%,
    rgba(0, 0, 0, 1) 100%
  );

  position: fixed;
  bottom: 15%;
  left: 0;
  width: 100%;
  z-index: 100;
}

.btns-menu {
  background-color: transparent;
  border: none;

  color: grey;

  width: auto;
  height: 55px;
  cursor: pointer;

  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.6rem;

  -webkit-text-stroke: 0.8px black;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);

  text-transform: uppercase;

  transition: all 0.3s ease;
}

.btns-menu:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
  color: white;
}

