*{
    color: #fff;

}
.perfil-container {
    padding: 0;
    width: 100%;
    max-width: 100vw;
    
    display: grid;
    grid-template-columns: 300px 1fr 0px;
    gap: 0; 
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    align-items: stretch;
}

.perfil-container.show-details {
    grid-template-columns: 300px 1fr 350px;
    gap: 0;
}

/*Columna Perfil*/

/* Avatar */
.col-status {
    height: calc(100vh - 80px);
    background: linear-gradient(180deg, rgba(15, 15, 15, 0.95) 0%, rgba(0, 0, 0, 0.98) 100%);
    border-right: 3px solid #8b0000;
    padding: 25px;
    border-radius: 5px 0 0 5px;
    box-shadow: 10px 0 30px rgba(0,0,0,0.5);
    animation: apareceStatus 0.8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes apareceStatus {
    0% { transform: translateX(-100vw); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}
.avatar-container {
    position: relative;
    border: 2px solid #2a2a2a;
    padding: 5px;
    background: #000;
    margin-bottom: 25px;
}

.avatar-container img {
    width: 100%;
    filter: sepia(0.2) contrast(1.1);
}

/* Editar */
.status-badge {
    background: #ff0000;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    font-weight: bold;
}

/* Datos */
.user-data-re4 h2 {
    font-family: 'Mael', serif;
    font-size: 2rem;
    color: #fff;
    margin: 0;
    text-shadow: 0 0 10px rgba(255,0,0,0.5);
}

.currency-display {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: rgba(139, 0, 0, 0.1);
    border: 1px solid rgba(139, 0, 0, 0.3);
    display: flex;

    align-items: center;
    justify-content: space-between;
    justify-content: center;
    
}

.orb-icon { width: 25px; vertical-align: middle; margin-right: 5px; margin-left: 5px; }


/* Columna Maletín */
.col-maletin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.case-visual {
    max-width: 600px;
    border: 8px solid #222;
    border-radius: 10px;
    padding: 40px;
    position: relative;
}

.tit-maletin {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255,0,0,0.5);
}

.inventario-maletin {
    display: grid;
    grid-template-columns: repeat(6, 85px);
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.close-inspeccion {
    background: none;
    border: none;
    color: #910000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close-inspeccion:hover { color: #ff3e3e; }

/* Items */
.item-slot {
    width: 85px;
    height: 85px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.item-slot img {
    max-width: 85%;
    max-height: 85%;
    filter: drop-shadow(0 0 5px #000);
    object-fit: contain;
}

.item-slot:hover {
    background: rgba(0, 255, 0, 0.1);
    border-color: #00ff41;
    transform: scale(1.02);
    z-index: 5;
}

.item-desc-bar {
    margin-top: 30px;
    background: #050805;
    border: 1px solid #1a331a;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}

/* Estilo Columna Inspección */
.col-inspeccion {
    background: linear-gradient(180deg, rgba(30, 0, 0, 0.9) 0%, rgba(10, 0, 0, 1) 100%);
    border-left: 2px solid #ff0000;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    padding: 20px;
}

.show-details .col-inspeccion {
    opacity: 1;
    pointer-events: auto;
}

.item-preview-frame {
    width: 100%;
    height: 200px;
    background: radial-gradient(circle, #300 0%, #000 70%);
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.item-preview-frame img {
    max-width: 80%;
    max-height: 80%;
    filter: drop-shadow(0 0 15px rgba(255,0,0,0.5));
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.inspeccion-separator {
    height: 2px;
    background: linear-gradient(90deg, #ff0000, transparent);
    margin: 15px 0;
}

/* formulario editar foto */
.seccion-ajuste { margin-bottom: 30px; padding: 20px; border: 1px solid #333; background: rgba(0,0,0,0.3); }
.avatar-preview img { width: 120px; height: 120px; border: 2px solid #910000; margin-bottom: 15px; object-fit: cover; }

.btn-subir { background: #222; padding: 10px; cursor: pointer; border: 1px dashed #910000; display: inline-block; }
.btn-subir input { display: none; }

.btn-guardar-perfil {
    width: 100%;
    background: #910000;
    color: white;
    padding: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
}
.btn-guardar-perfil:hover { background: #ff3e3e; box-shadow: 0 0 20px #ff3e3e; }

    /* form nuevo */

.modal-overlay {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); /* Oscuridad del inframundo */
    backdrop-filter: blur(5px); /* Desenfoque elegante */
}

/* Caja del formulario centrada */
.modal-content {
    background: #111;
    margin: 5% auto;
    padding: 30px;
    border: 2px solid #910000;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 30px #910000;
    position: relative;
    animation: aparecerModal 0.4s ease-out;
}

/* Botón de cerrar (X) */
.btn-cerrar {
    background-color: #000;
    position: absolute;
    right: 20px;
    top: 10px;
    color: #910000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.btn-cerrar:hover { color: #ff3e3e; }

/* Animación de entrada */
@keyframes aparecerModal {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
    
.cropper-container {
    max-width: 100% !important;
}
.cropper-wrapper {
    background-color: #000;
    min-height: 200px;
}

.avatar-selector-grid {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 15px;
}

.grid-scroll {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 5px;
}

/* Scrollbar estilo gótico */
.grid-scroll::-webkit-scrollbar { height: 4px; }
.grid-scroll::-webkit-scrollbar-thumb { background: #910000; }

.avatar-option {
    position: relative;
    cursor: pointer;
    flex: 0 0 70px;
    height: 70px;
    border: 1px solid #444;
    transition: 0.3s;
}

.avatar-option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-option input { position: absolute; opacity: 0; }

.avatar-option:hover { border-color: #910000; }

.avatar-option:has(input:checked) {
    border-color: #ff3e3e;
    box-shadow: 0 0 10px rgba(255, 62, 62, 0.5);
}
#btn-confirmar-inventario {
    font-family: 'Mael', 'monospace';
    letter-spacing: 2px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    text-transform: uppercase;
}

#btn-confirmar-inventario:hover {
    background: #910000 !important;
    color: white !important;
    box-shadow: 0 0 15px rgba(145, 0, 0, 0.5);
}
/* se acabo formulario */