/* Contenedor padre en el Header */
.music-container-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

/* El Icono del Disco */
.music-toggle {
    cursor: pointer;
    padding: 5px 15px;
    transition: transform 0.3s ease;
}

.music-toggle i {
    font-size: 1.6rem;
    color: var(--dmc-red);
    filter: drop-shadow(0 0 5px var(--dmc-red-glow));
}

/* Animación de rotación cuando suena */
.spinning {
    animation: spin 2s linear infinite;
}

@keyframes spin { 100% { transform: rotate(360deg); } }

.music-usuario {
    position: absolute;
    top: 100%;
    right: 0;
    width: 260px;
    background: var(--bg-card); 
    border: var(--border-red);
    z-index: 9999;
    box-shadow: var(--shadow-gothic);
    
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease;
    padding: 0 15px;
}

.music-usuario.show {
    max-height: 500px;
    opacity: 1;
    padding: 15px;
    border-bottom: 3px solid var(--dmc-red-dark);
}

/* INFO Y TEXTO */
.track-info {
    margin-bottom: 12px;
    text-align: center;
}

.now-playing {
    font-size: 10px;
    color: var(--dmc-red);
    text-transform: uppercase;
    letter-spacing: 1px;
}

#track-name {
    color: var(--text-main);
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: 4px;
}

/* CONTROLES */
.usuario-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.m-btn {
    background: none;
    border: none;
    color: var(--text-main);
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
}

.m-btn:hover {
    color: var(--dmc-red);
    transform: scale(1.1);
}

.play-main {
    font-size: 1.8rem;
}

/* LISTA DE REPRODUCCIÓN */
.track-list-container {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 15px;
}

#playlist-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.track-item {
    padding: 8px 12px;
    font-size: 12px;
    color: var(--text-main);
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 0, 0, 0.1);
}

.track-item:hover {
    background: var(--bg-semi-red);
    color: var(--text-white);
}

.active-track {
    color: var(--dmc-red) !important;
    font-weight: bold;
    background: var(--bg-semi-red);
}

/* VOLUMEN */
.volume-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dmc-red);
    font-size: 0.8rem;
}

#volume-control {
    flex-grow: 1;
    accent-color: var(--dmc-red);
    cursor: pointer;
}