{% extends "plantilla_base.html" %}
{% block title %}DevilMayStrike{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/foro.css') }}"/>
{% endblock %} 
{% block content %}
<div class="foro-wrapper">
    <div class="form-mision-container">
        <div class="corner top-left"></div>
        <div class="corner top-right"></div>
        <div class="corner bottom-left"></div>
        <div class="corner bottom-right"></div>

        <header class="form-header">
            <h1 class="titulo-dmc">CREAR NUEVO HILO</h1>
            <div class="divisor-cont"></div>
            <p class="subtitulo-form">Escribe tus crónicas. Las leyes del castillo rigen tus palabras.</p>
        </header>
        
        <form method="POST" class="form-cont">
            {{ form.hidden_tag() }}
            
            <div class="cont-input-group">
                <label class="cont-label">TÍTULO DEL HILO</label>
                {{ form.titulo(class="cont-input cont-titulo", placeholder="Ej: Combo Infinito con Rebellion...") }}
            </div>

            <div class="cont-input-group">
                <label class="cont-label">CONTENIDO DEL HILO</label>
                {{ form.contenido(class="cont-input cont-area", rows="12") }}
            </div>

            <div class="acciones-contes">
                <a href="{{ url_for('foro_route.ver_categoria', id=categoria_id) }}" class="btn-abortar">ABORTAR</a>
                <button type="submit" class="btn-desbloquear">PUBLICAR HILO</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}