{% extends "plantilla_base.html" %}
{% block title %}DevilMayStrike{% endblock%}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/foro.css') }}"/>

<script src="{{ url_for('static', filename='js/scripts-login.js') }}"></script>

{% endblock %} 
{% block content %}
<div class="foro-container">
    <h1 class="titulo-dmc">FORO DE CAZADORES</h1>
    
    <table class="tabla-gotica">
        <thead>
            <tr>
                <th>Categoría</th>
                <th>Temas</th>
                <th>Último Susurro</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in categorias %}
            <tr>
                <td>
                    <a href="{{ url_for('foro_route.ver_categoria', id=cat.id) }}" class="cat-link">
                        {{ cat.nombre }}
                    </a>
                    <p class="cat-desc">{{ cat.descripcion }}</p>
                </td>
                <td>{{ cat.temas|length }}</td>
                <td>
                    {% if cat.temas %}
                        {{ cat.temas[-1].titulo }}
                    {% else %}
                        Silencio absoluto...
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}