{% extends "plantilla_base.html" %}
{% block title %}{{ producto.nombre }} - DevilMayStrike{% endblock %} 

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detalle-producto.css') }}" />
<script src="{{ url_for('static', filename='js/script-detalle-producto.js') }}" defer></script>

{% endblock %}

{% block content %}
<div class="reliquia-wrapper full-screen">
        <img class="dmc-back" src="{{ url_for('static', filename='img/fondo-tienda.png') }}" alt="fondo" />

    <div class="detalle-card-item">

        <div class="detalle-grid">
            <div class="col-visual">
                <a href="{{ url_for('tienda_route.ver_tienda', id=categoria_id) }}" class="btn-volver">TIENDA</a>
                <div class="item-img-container">
                    <img src="{{ url_for('static', filename='uploads/tienda/' + producto.data_path) }}" 
                         alt="{{ producto.nombre }}" class="img-reliquia">
                </div>
                
                <h1 class="titulo-producto">{{ producto.nombre }}</h1>
                <div class="badge-categoria">{{ producto.categoria | upper }}</div>
                
                <div class="precio-item">
                    <img src="{{ url_for('static', filename='img/red-orb.png') }}" alt="Red Orb" class="orb-icon">
                    <span class="valor">{{ producto.precio }}</span>
                </div>
                <div class="cont-comprar">
                {% if producto in usuario.productos %}
                    <button class="btn-buy owned" disabled>DESBLOQUEADO</button>
                {% else %}
                    <button class="btn-comprar-item" id="btn-comprar" 
                            data-producto-id="{{ producto.id }}">
                        ADQUIRIR
                    </button>
                {% endif %}
                </div>
                <div class="user-currency">
                    <img src="{{ url_for('static', filename='img/red-orb.png') }}" alt="Tus Red Orb" class="orb-icon">
                    <span id="orb-count">{{ usuario.orbes_rojos }}</span>
                    <small>TUS ORBES ROJOS</small>
                </div>
            </div>

            <div class="col-info-horizontal">
                <div class="info-section">
                    <h3 class="item-header">DESCRIPCIÓN</h3>
                    <div class="cont-descripcion">
                        <p class="descripcion-texto">{{ producto.descripcion }}</p>
                    </div>
                </div>

                <div class="comentarios-section">
                    <h3 class="item-header">COMENTARIOS</h3>
                    
                    <div class="lista-comentarios-compacta">
                        {% for com in producto.comentarios %}
                        <div class="comentario-item">
                            <div class="com-meta">
                                <span class="autor">{{ com.autor_tienda.nombre }}</span>
                                <span class="fecha">{{ com.fecha.strftime('%d/%m') }}</span>
                            </div>
                            <p class="com-contenido">{{ com.contenido }}</p>
                        </div>
                        {% else %}
                        <p class="no-com">Sin registros...</p>
                        {% endfor %}
                    </div>

                    {% if usuario and not usuario.is_guest %}
                        <form class="form-comentario-mini" id="form-comentario" 
                            data-producto-id="{{ producto.id }}">
                            {{ form.hidden_tag() }}
                            <div class="input-group-item">
                                {{ form.contenido(placeholder="Escribe un comentario...", 
                                class="input-com-item", id="input-comentario") }}
                                <button type="submit" class="btn-enviar-item">Enviar</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}