{% extends "plantilla_base.html" %} {% block title %}DevilMayStrike3{% endblock
%} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='../static/css/home.css') }}"
/>
{% endblock %} {% block content %}
<div id="titulo">
  <img src="../static/img/home/dms-logo.png" alt="logo-dmStrike">
</div>

<div class="menu-botones">
  <input
    id="registro"
    onclick="window.location.href = '/register'"
    type="button"
    value="Registrarse"
  />

  <input id="jugar" onclick="iniciarSesion()" type="button" value="Jugar" />
</div>
{% endblock %}
