{% extends "plantilla_base.html" %} 
{% block title %}DevilMayStrike{% endblock%}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>

{% endblock %} 

{% block content %}
<div class="container-home">

  <div class="sparda">
    <img src="{{ url_for('static', filename='img/Dante-menu.png') }}" alt="Dante" class="img-personaje img-dante" style="cursor: pointer;"/>
  </div>

  <div class="menu-botones-home">
    <h1>MISSION SELECT</h1>
    <hr>
    <input class="btns-menu" id="Start" type="button" value="Start" />
    <input class="btns-menu" id="Ranking" type="button" value="Ranking" />
    <input class="btns-menu" id="biblioteca-dmc" type="button" value="Saga" data-url="{{ url_for('home_route.biblioteca_dmc') }}"/>
    {% if not usuario.is_guest %}
      <input class="btns-menu" id="Tienda" type="button" value="Tienda" data-url="{{ url_for('tienda_route.ver_tienda') }}"/>
      <input class="btns-menu" id="Foro" type="button" value="Foro" data-url="{{ url_for('foro_route.index_foro') }}"/>
    {% endif %}
    <input class="btns-menu" id="Logout" type="button" value="Cerrar Sesion" data-url="{{ url_for('homeLogin_route.logout') }}"/>
    <hr>
  </div>

  <div class="sparda">
    <img src="{{ url_for('static', filename='img/Vergil-menu.png') }}" alt="Vergil" class="img-personaje img-vergil" style="cursor: pointer;"/>
  </div>
</div>
{% endblock %}