{% extends "plantilla_base.html" %}
{% block title %}Devil May Strike{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/juego.css') }}" />
{% endblock %}

{% block content %}
<div class="game-wrapper">
    <div id="unity-container">
        <canvas id="unity-canvas" tabindex="-1"></canvas>
        
        <button id="fullscreen-button" title="Pantalla Completa">
            <div class="icon-fs"></div>
        </button>

        <div id="unity-loading-bar">
            <div class="loading-text">CARGANDO JUEGO...</div>
            <div class="progress-bar-empty">
                <div id="unity-progress-bar-full" class="progress-bar-full"></div>
            </div>
        </div>
    </div>
</div>

<script>
    const canvas = document.querySelector("#unity-canvas");
    const loadingBar = document.querySelector("#unity-loading-bar");
    const progressBarFull = document.querySelector("#unity-progress-bar-full");
    const fullscreenButton = document.querySelector("#fullscreen-button");

    const buildUrl = "{{ url_for('static', filename='juego/Build') }}";
    const loaderUrl = buildUrl + "/juego.loader.js";

    const config = {
        dataUrl: buildUrl + "/juego.data.unityweb",
        frameworkUrl: buildUrl + "/juego.framework.js.unityweb",
        codeUrl: buildUrl + "/juego.wasm.unityweb",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "DefaultCompany",
        productName: "DMC_Arena",
        productVersion: "0.1",
    };

    const script = document.createElement("script");
    script.src = loaderUrl;
    script.onload = () => {
        createUnityInstance(canvas, config, (progress) => {
            progressBarFull.style.width = 100 * progress + "%";
        }).then((unityInstance) => {
            loadingBar.style.display = "none";
            
            fullscreenButton.onclick = () => {
                unityInstance.SetFullscreen(1);
            };

        }).catch((message) => {
            console.error("Error Unity:", message);
        });
    };
    document.body.appendChild(script);
</script>
{% endblock %}