{% extends "plantilla_base.html" %} {% block title %}DevilMayStrike{% endblock%}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sesionUsuario.css') }}" />
<script src="{{ url_for('static', filename='js/login-script.js') }}"></script>
{% endblock %} {% block content %}
<div class="form-container">
    <h2>INICIAR SESIÓN</h2>

    <form method="POST">
        {{ form.hidden_tag() }}
        
        <label>Nombre de Cazador</label>
        {{ form.usuario(placeholder="Nombre") }}
        
        <label>Contraseña</label>
        {{ form.passwd(placeholder="••••••••") }}
        
        {{ form.enviar(class="btns-menu") }}

    </form>
  <div style="text-align: center; margin-top: 15px">
    <p style="color: #666">
      ¿Eres nuevo?
      <a href="{{ url_for('homeLogin_route.registro') }}" style="color: #8b0000">Regístrate</a>
    </p>
  </div>
  <div style="text-align: center; margin-top: 15px">
    <a class="volver" href="{{ url_for('homeLogin_route.index') }}">
      « Volver
    </a>
  </div>
</div>
{% endblock %}
