<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style-base.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <script src="{{ url_for('static', filename='js/konami-code.js') }}"></script>
  {% block style %}{% endblock %}
</head>

<body>
  <header>
    <div class="menu">
      <div class="user-profile-zone">
        {% if usuario %}
          <input class="btns-perfil" id="Perfil" type="button" value="{{ usuario.nombre }}" data-url="{{ url_for('perfil_route.perfil') }}"/>
        {% endif %}
      </div>
      <div class="links">
        <ul>
        {% if usuario %}
          <li><a href="/home">Inicio</a></li>
        {% endif %}
          {% block links %}{% endblock %}
        </ul>
      </div>
  </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>Datos proporcionados por <a href="https://rawg.io/" target="_blank">RAWG API</a>.</p>
    <p>&copy; 2026 | Creditos Marcos Fernández | Todos los contenidos son usados para un fin educativo</p>
  </footer>
</body>

</html>