<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style-base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/widget-music.css') }}"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <script src="{{ url_for('static', filename='js/konami-code.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scripts-base.js') }}"></script>
  <script src="{{ url_for('static', filename='js/widget-music.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script-mode-vergil.js') }}"></script>
  {% block style %}{% endblock %}
</head>

<body>
  <header class="index-menu">
    <div class="menu">
      <div class="user-profile-zone">
        {% if usuario %}
          <input class="btns-perfil" id="Perfil" type="button" value="{{ usuario.nombre }}" data-url="{{ url_for('perfil_route.perfil') }}"/>
        {% endif %}
      </div>
      <div class="links">
        <ul>
          <button id="btn-vergil" class="pagi-btn">
    <i class="fas fa-bolt"></i> GET MORE POWER
</button>
        {% if usuario %}
          <li><a href="/home">Inicio</a></li>
        {% endif %}
          {% block links %}{% endblock %}
        </ul>
      </div>
  {% if usuario %}
  <div class="music-container-wrapper"> 
      <div class="music-toggle" id="music-icon">
          <i class="fa-solid fa-compact-disc"></i>
      </div>

      <div id="music-widget" class="music-usuario">
          <div class="track-info">
              <span class="now-playing">NOW PLAYING:</span>
              <marquee behavior="scroll" direction="left" id="track-name">Select a track...</marquee>
          </div>
          
          <div class="usuario-controls">
              <button id="prev-track" class="m-btn"><i class="fa-solid fa-backward-step"></i></button>
              <button id="play-pause" class="m-btn play-main"><i class="fa-solid fa-play"></i></button>
              <button id="next-track" class="m-btn"><i class="fa-solid fa-forward-step"></i></button>
          </div>

          <div class="track-list-container">
              <ul id="playlist-items"></ul>
          </div>

          <div class="volume-container">
              <i class="fa-solid fa-volume-low"></i>
              <input type="range" id="volume-control" min="0" max="1" step="0.1" value="0.5">
          </div>

          <audio id="game-audio"></audio>
      </div>
  </div>
  {% endif %}
  </div>
  </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-container" class="flash-global-wrapper">
      {% for category, message in messages %}
        <div class="flash-message alert-{{ category }}">
            <div class="flash-icon">
                {% if category == 'success' %}<i class="fas fa-check-circle"></i>
                {% elif category == 'error' %}<i class="fas fa-exclamation-triangle"></i>
                {% else %}<i class="fas fa-info-circle"></i>{% endif %}
            </div>
            <div class="flash-text">{{ message }}</div>
            <button class="flash-close" onclick="this.parentElement.remove()">×</button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>Datos proporcionados por <a href="https://rawg.io/" target="_blank">RAWG API</a>.</p>
    <p>&copy; 2026 | Creditos Marcos Fernández | Todos los contenidos son usados para un fin educativo</p>
  </footer>
</body>

</html>