<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
  {% block style %}{% endblock %}
</head>

<body>
  <header>
    <div id="menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/pokedex">Pokedex</a></li>
        {% block links %}{% endblock %}
      </ul>
    </div>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>
      <small>&copy; 2026 | Creditos Marcos Fernández | Todos los contenidos son usados para
        un fin educativo</small>
    </p>

  </footer>
</body>

</html>