{% extends "plantilla_base.html" %} {% block title %}DevilMayStrike{% endblock%}
{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='../static/css/sesionUsuario.css') }}"
/>
{% endblock %} {% block content %}

<div class="form-container">
  <h2>Nuevo Usuario</h2>
  <form method="POST">
    {{ form.hidden_tag() }}

    <label>Nombre de usuario</label>
    {{ form.usuario(placeholder="Ej: XxxLaTormenta777_YTxxX") }}

    <label>Contraseña</label>
    {{ form.passwd(placeholder="••••••••") }}

    <label>Confirmar Contraseña</label>
    {{ form.confirm_passwd(placeholder="••••••••") }} {{
    form.enviar(class="btns-menu") }}
  </form>

  <div style="text-align: center; margin-top: 15px">
    <a class="volver" href="{{ url_for('homeLogin_route.index') }}">
      « Volver
    </a>
  </div>
</div>
{% endblock %}
